<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta name="автор" content="Just Web">
    <meta lang="en" name="author" content="Just Web">

    <meta name="описание" content="На этом сайте вы найдете актуальные новости об играх и других творческих проектах компании DreamG.">
    <meta lang="en" name="description" content="On this site you will find current news on games and other creative projects from the company DreamG.">

    <meta name="ключевые слова" content="Retro, games, pixel, old, arcade, 2d, retro games, old school game, pixel game, 2d game, DreamG, Dream games,
                                        indie games, 8 bit, 16 bit, WARRIORS M, GigaTron 5000, WONDER, Ретро, игры, пиксельные, старые, аркадные, ретро-игры,
                                         игра старой школы, пиксельная игра, 2d игра, инди-игры, 8 бит, 16 бит">
    <meta lang="en" name="keywords" content="Retro, games, pixel, old, arcade, 2d, retro games, old school game, pixel game, 2d game, DreamG, Dream games,
                                        indie games, 8 bit, 16 bit, WARRIORS M, GigaTron 5000, WONDER">

    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    <link rel="shortut icon" href="../../static/images/icon.jpg">
    <link rel="stylesheet" href="../../static/css/base.css">

    <!-- for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

     <script>
        window.onload = function() {
            setTimeout(function() {
                document.getElementById("loading").style.display = "none";
            },
        400);
     };
 </script>

</head>
<body>

    <header>

        <!-- All block navigation -->
        <nav class="navbar navbar-expand-md bg-dark">

            <div class="container-fluid">
                <!-- Change language -->
                <a class="nav-link active mr-5" href="{% url 'home_ru' %}">
                    <h3 class="text-white" lang="en">RU</h3>
                </a>
                <h3 class="text-white mr-5">|</h3>
                <a class="nav-link active mr-5" href="{% url 'home' %}">>
                    <h3 class="text-white" lang="en">EN</h3>
                </a>

                {% if this.url == 'home_ru' %}
                    <!-- Icon & name in navigation ru -->
                    <a class="navbar-brand ms-5" href="{% url 'home_ru' %}">
                        <img src="../../static/images/icon.jpg" width="50" height="50">
                    </a>
                    <a class="nav-link active" href="{% url 'home_ru' %}">
                        <h3 class="text-white" lang="en">DreamG</h3>
                    </a>

                    <!-- Navigation ru -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent_ru">
                        <ul class="navbar-nav mx-md-auto">
                            <li class="nav-item me-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'home_ru' %}"><h3 class="text-white">ГЛАВНАЯ</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                            <a class="nav-link active" aria-current="page" href="{% url 'games_ru' %}"><h3 class="text-white">ИГРЫ</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'projects_ru' %}"><h3 class="text-white">ДРУГИЕ ПРОЕКТЫ</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'contacts_ru' %}"><h3 class="text-white">КОНТАКТЫ</h3></a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% if this.url == 'home' %
                    <!-- Icon & name in navigation en -->
                    <a class="navbar-brand ms-5" href="{% url 'home' %}">
                        <img src="../../static/images/icon.jpg" width="50" height="50">
                    </a>
                    <a class="nav-link active" href="{% url 'home' %}">
                        <h3 class="text-white" lang="en">DreamG</h3>
                    </a>

                    <!-- Navigation en -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent_en">
                        <ul class="navbar-nav mx-md-auto">
                            <li class="nav-item me-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><h3 class="text-white">HOME</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'games' %}"><h3 class="text-white">GAMES</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'projects' %}"><h3 class="text-white">OTHER PROJECTS</h3></a>
                            </li>
                            <li class="nav-item me-5 ms-5">
                                <a class="nav-link active" aria-current="page" href="{% url 'contacts' %}"><h3 class="text-white">CONTACTS</h3></a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

            </div>
        </nav>
    </header>

    <main>
        <!-- Loading -->
        <div id="loading">
            <div class="spinner-border mt-2 ms-2" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden"></span>
            </div>
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden" lang="en">Loading...</span>
            </div>
        </div>

        <!-- Block content -->
        <div class="container-fluid">
            {% block main_content %} {% endblock %}
        </div>
    </main>

    <script src="../../static/js/home.js"></script>
    <!-- for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>