{% extends 'base.html' %}

{% block container_content %}
<!-- Icon & name in navigation en -->
<a class="navbar-brand ms-5" href="{% url 'home' %}">
    <img src="../../static/images/icon.jpg" width="50" height="50">
</a>
<a class="nav-link active" href="{% url 'home' %}">
    <h3 class="text-white" lang="en">DreamG</h3>
</a>

<!-- Navigation en -->
<div class="collapse navbar-collapse" id="navbarSupportedContent_en">
    <ul class="navbar-nav mx-md-auto">
        <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><h3 class="text-white">HOME</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'games' %}"><h3 class="text-white">GAMES</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'projects' %}"><h3 class="text-white">OTHER PROJECTS</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'contacts' %}"><h3 class="text-white">CONTACTS</h3></a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main_content %}
    <link rel="stylesheet" href="../../static/css/contacts.css">

    <div id="contacts" class="ms-5 mt-5 lh-base text-wrap" lang="en">
        <h2>Follow us</h2>
        <div class="container-fluid">
            <a class="icon-link mt-5" href="https://dream-g.itch.io" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                </svg>
                We are on itch.io
            </a>
            <!--
            <a class="icon-link ms-5" href="https://www.instagram.com/dreamg_games?igsh=dnIxYnpzdWRnZ25h" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                </svg>
                Our Instagram
            </a>
            -->
        </div>
    </div>

    <footer class="page-footer" lang="en">
        <nav class="navbar navbar-expand-md bg-dark mt-5">
            <div class="container-fluid">
                <p class="text-white ms-5 mt-3">© 2024 DreamG. All rights reserved.</br>The site was developed with love by Just Web</p>
                <p class="text-white text-md-end me-3">Current version: V.02.01</p>
            </div>
        </nav>
    </footer>
{% endblock %}