{% extends 'base.html' %}

{% block main_content %}
    <link rel="stylesheet" href="../../static/css/contacts.css">

    <div id="contacts" class="ms-5 mt-5 lh-base text-wrap">
        <h2>Подписывайтесь на нас</h2>
        <div class="container-fluid">
            <a class="icon-link mt-5" href="https://dream-g.itch.io" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                </svg>
                Мы на itch.io
            </a>
            <!--
            <a class="icon-link ms-5" href="https://www.instagram.com/dreamg_games?igsh=dnIxYnpzdWRnZ25h" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                </svg>
                Наш Инстаграм
            </a>
            -->
        </div>
    </div>

    <footer class="page-footer">
        <nav class="navbar navbar-expand-md bg-dark mt-5">
            <div class="container-fluid">
                <p class="text-white ms-5 mt-3">© 2024 DreamG. Все права защищены.</br>Сайт был разработан с любовью компанией Just Web.</p>
                <p class="text-white text-md-end me-3">Текущая версия: V.02.01</p>
            </div>
        </nav>
    </footer>
{% endblock %}