{% extends 'index.html' %}

{% block container_content %}

<!-- Icon & name in navigation en -->
<div class="container-fluid col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-start">
    <div class="row col-8 col-sm-7 col-md-7 col-lg-6 col-xl-5">
        <a class="navbar-brand ms-3 mt-1 col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3" href="{% url 'home_ru' %}">
            <img src="../../static/images/icon.jpg" width="50" height="50">
        </a>
        <a class="nav-link active col-5 col-sm-5 col-md-3 col-lg-3 col-xl-2" href="{% url 'home_ru' %}">
            <h3 class="text-white mt-3" lang="en">DreamG</h3>
        </a>
    </div>
</div>

<!-- Navigation ru -->
<div id="navbarSupportedContent_ru" class="container-fluid mt-3 ms-3 col-12 col-sm-12 col-md-9 col-lg-9 col-xl-12 p-2 flex-fill">
    <div class="row col-10 col-sm-10 col-md-10 col-lg-12 col-xl-12">
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-3">
            <a class="nav-link active" href="{% url 'home_ru' %}"><h3 class="text-white">ГЛАВНАЯ</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <a class="nav-link active" href="{% url 'games_ru' %}"><h3 class="text-white">ИГРЫ</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
            <a class="nav-link active" href="{% url 'projects_ru' %}"><h3 class="text-white">ДРУГИЕ ПРОЕКТЫ</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
            <a class="nav-link active" href="{% url 'contacts_ru' %}"><h3 class="text-white">КОНТАКТЫ</h3></a>
        </div>
    </div>
</div>
{% endblock %}
{% block main_content %}
<link rel="stylesheet" href="../../static/css/game.css">

<div class="container-fluid">
     <div class="ms-2 mt-5 lh-base text-wrap row" lang="en">
        <h3 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">WARRIORS M</h3>

         <div id="warriors_m" class="row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <img src="../../static/images/game_warriors_m.png" alt="Ой, не загружается" style="width: 58rem">
         </div>
         <div class="row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
             <div id="png_one" class="row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                 <img src="../../static/images/354536.jpg" alt="Ой, не загружается" style="">
             </div>
            <div id="png_two" class="mt-3 row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <img src="../../static/images/235436.png" alt="Ой, не загружается" style="">
            </div>
            <div id="png_three" class="mt-3 row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <img src="../../static/images/576779.jpg" alt="Ой, не загружается" style="">
            </div>
            <div id="png_four" class="mt-3 row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <img src="../../static/images/8547353.jpg" alt="Ой, не загружается" style="">
            </div>
         </div>



        <div id="description_warriors_m" class="row mt-3 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <i>Платформа: Android</i><br>
            <i>Жанр: шутер</i><br>
            <p class="mt-2">Остановите вторжение злого божества и спасите Вселенную! Пройдите все уровни огромного замка, сражаясь с разными приспешниками и обретите великую силу, чтобы победить зло!</p>
            <p>Игра находится в активной разработке</p>
            <a href="https://dream-g.itch.io/warriors-m" target="_blank">Следите за новостями здесь</a>
        </div>
    </div>

    <div id="GigaTron_5000" class="ms-2 mt-5 lh-base text-wrap row" lang="en">
        <h3 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">GigaTron 5000</h3>

        <div id="games_gigatron" class="row mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <img src="../../static/images/games_gigatron.jpg" alt="Ой, не загружается" style="">
        </div>
        <div id="games_gigatron_2" class="row mt-3 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4">
            <img src="../../static/images/games_gigatron_2.jpg" alt="Ой, не загружается" style="">
        </div>

        <div id="description_gigatron" class="row mt-3 mb-5 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
            <i>Платформа: ПК</i><br>
            <i>Жанр: аркада</i><br>
            <p class="mt-2">Возьмите на себя роль антивирусной программы! Вирусы пытаются проникнуть в систему ПК, и только антивирус GigaTron 5000 может остановить их</p>
            <a href="https://dream-g.itch.io/gigatron5000" target="_blank">Скачать здесь</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" style="background-color:#ff9999; height: 25px;"><p>Это мечта</p></div>
        <div class="col-lg-4" style="background-color:#99CCFF; height: 25px;"><p>Это образ жизни</p></div>
        <div class="col-lg-4" style="background-color:#00CC99; height: 25px;"><p>Сделано с любовью для вас</p></div>
    </div>
</div>

{% endblock %}
{% block foot %}
<div class="container-fluid mt-3">
    <div class="row col-8 col-sm-8 col-md-12 col-lg-12 col-xl-3">
        <p class="text-white">© 2024 DreamG. Все права защищены.</p>
    </div>
    <div class="row col-10 col-sm-12 col-md-10 col-lg-12 col-xl-3">
        <p class="text-white">Сайт был разработан с любовью компанией Just Web</p>
    </div>
    <div class="row col-6 col-sm-6 col-md-12 col-lg-12 col-xl-2">
        <p class="text-white">Текущая версия: V.05.01</p>
    </div>
</div>
{% endblock %}