{% extends 'index.html' %}
<link rel="stylesheet" href="../../static/css/base.css">

{% block container_content %}
<div class="container-fluid">
    <div class="row">
        <!-- All block navigation -->
        <nav class="navbar navbar-expand-md bg-dark">

            <!-- Icon & name in navigation en -->

            <div id="Icon&Name" class="p-2 flex-fill">
                <a class="navbar-brand ms-5" href="{% url 'home_ru' %}" style="float: left;">
                    <img src="../../static/images/icon.jpg" width="50" height="50">
                </a>
                <a class="nav-link active" href="{% url 'home_ru' %}" style="float: left;">
                    <h3 class="text-white mt-2" lang="en">DreamG</h3>
                </a>
            </div>

            <!-- Navigation ru -->

            <div id="navbarSupportedContent_ru" class="collapse navbar-collapse p-2 flex-fill">
                <ul class="navbar-nav mx-md-auto">
                    <li class="nav-item me-5">
                        <a class="nav-link active" aria-current="page" href="{% url 'home_ru' %}"><h3 class="text-white">ГЛАВНАЯ</h3></a>
                    </li>
                    <li class="nav-item me-5 ms-5">
                        <a class="nav-link active" aria-current="page" href="{% url 'games_ru' %}"><h3 class="text-white">ИГРЫ</h3></a>
                    </li>
                    <li class="nav-item me-5 ms-5">
                        <a class="nav-link active" aria-current="page" href="{% url 'projects_ru' %}"><h3 class="text-white">ДРУГИЕ ПРОЕКТЫ</h3></a>
                    </li>
                    <li class="nav-item me-5 ms-5">
                        <a class="nav-link active" aria-current="page" href="{% url 'contacts_ru' %}"><h3 class="text-white">КОНТАКТЫ</h3></a>
                    </li>
                </ul>
            </div>

            <!-- Change language -->

            <div id="ChangeLanguage" class="p-2 flex-fill">
                <a class="nav-link active ms-5" href="{% url 'home_ru' %}" style="float: right;">
                    <h3 class="text-white" lang="en">RU</h3>
                </a>
                <h3 class="text-white ms-3" style="float: right;"> | </h3>
                <a class="nav-link active mx-3" href="{% url 'home' %}">
                    <h3 class="text-white" lang="en">ENG</h3>
                </a>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

{% block main_content %}
<!-- Block carousel -->
<div id="carousel_home" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-theme="dark">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/game_warriors_m.png" class="d-block mx-auto w-60" alt="Ой, не загружается">
        </div>
        <div class="carousel-item">
            <img src="/static/images/main_img.png" class="d-block mx-auto w-60" alt="Ой, не загружается">
        </div>
        <div class="carousel-item">
            <img src="/static/images/gigatron_fon.png" class="d-block mx-auto w-60" alt="Ой, не загружается">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_home" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Последний</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel_home" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

{% endblock %}

{% block foot %}
<footer class="page-footer" width="100" style="width: 100%; bottom: 0; left: 0;">
    <nav class="navbar navbar-expand-md bg-dark mt-5">
        <p class="text-white ms-5 mt-3">© 2024 DreamG. Все права защищены.</br>Сайт был разработан с любовью компанией Just Web.</p>
        <p class="text-white text-md-end">Текущая версия: V.03.01</p>
    </nav>
</footer>
{% endblock %}