{% extends 'index.html' %}

<link rel="stylesheet" href="../../static/css/base.css">

{% block container_content %}

<!-- Icon & name in navigation en -->
<a class="navbar-brand ms-5" href="{% url 'home' %}">
    <img src="../../static/images/icon.jpg" width="50" height="50">
</a>
<a class="nav-link active" href="{% url 'home' %}">
    <h3 class="text-white" lang="en">DreamG</h3>
</a>

<!-- Navigation en -->
<div class="collapse navbar-collapse" id="navbarSupportedContent_en">
    <ul class="navbar-nav mx-md-auto">
        <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><h3 class="text-white">HOME</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'games' %}"><h3 class="text-white">GAMES</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'projects' %}"><h3 class="text-white">OTHER PROJECTS</h3></a>
        </li>
        <li class="nav-item me-5 ms-5">
            <a class="nav-link active" aria-current="page" href="{% url 'contacts' %}"><h3 class="text-white">CONTACTS</h3></a>
        </li>
    </ul>
</div>
{% endblock %}
{% block main_content %}
<!-- Block carousel -->
<div id="carousel_home" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-theme="dark" lang="en">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel_home" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/game_warriors_m.png" class="d-block mx-auto w-60" alt="Ops, don't load">
    </div>
    <div class="carousel-item">
      <img src="/static/images/main_img.png" class="d-block mx-auto w-60" alt="Ops, don't load">
    </div>
    <div class="carousel-item">
      <img src="/static/images/gigatron_fon.png" class="d-block mx-auto w-60" alt="Ops, don't load">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_home" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Last</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel_home" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
{% block foot %}
<div class="container-fluid">
    <p class="text-white ms-5 mt-3">© 2024 DreamG. All rights reserved.</br>The site was developed with love by Just Web</p>
    <p class="text-white text-md-end me-3">Current version: V.02.01</p>
</div>
{% endblock %}