{% extends 'index.html' %}

{% block container_content %}

<div class="container-fluid row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

    <!-- Icon & name in navigation en -->
    <div class="row col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <a class="navbar-brand ms-3 mt-1 col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2" href="{% url 'home' %}">
            <img src="../../static/images/icon.jpg" width="50" height="50">
        </a>
        <a class="nav-link active col-5 col-sm-5 col-md-3 col-lg-3 col-xl-2" href="{% url 'home' %}">
            <h3 class="text-white mt-3" lang="en">DreamG</h3>
        </a>
    </div>

    <!-- Navigation en -->
    <div id="navbarSupportedContent_ru" class="mt-3 ms-1 row col-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-3">
            <a class="nav-link active" href="{% url 'home' %}"><h3 class="text-white">HOME</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <a class="nav-link active" href="{% url 'games' %}"><h3 class="text-white">GAMES</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
            <a class="nav-link active" href="{% url 'projects' %}"><h3 class="text-white">OTHER PROJECTS</h3></a>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-1">
            <a class="nav-link active" href="{% url 'contacts' %}"><h3 class="text-white">CONTACTS</h3></a>
        </div>
    </div>

    <!-- Change language -->
    <div class="row col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-end" style="color:#ff9999">
        <a class="nav-link active ms-5 me-2 col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="{% url 'projects_ru' %}">
            <h3 lang="en">RU</h3>
        </a>
        <h3 class="mx-3 col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"> | </h3>
        <a class="nav-link active col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" href="{% url 'projects' %}">
            <h3 lang="en">EN</h3>
        </a>
    </div>
</div>

{% endblock %}
{% block main_content %}
<link rel="stylesheet" href="../../static/css/projects.css">

<div class="container-fluid mb-5">

    <!-- Card -->
    <div class="lh-base text-wrap row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="card_of_book" class="card text-bg-dark ms-2 mt-5 row col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3" lang="en">
            <div class="card-img-left">
                <img src="../../static/images/projects_wonder.jpg" class="card-img-bottom card-img-top" alt="Ops, don't load">
            </div>
            <div class="header ms-3 mt-2">
                <h5 class="card-title">WONDER</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Author: Adrian Scolex<br>Genre: noir, science-fiction , thriller<hr><br>When you become part of the city of wonders, can you keep your soul? Discover a dark world of secrets, crime and horror in the noir thriller "Wonder".</p>
                <p class="btn btn-primary">Coming soon</p>
            </div>
        </div>

        <div id="description" class="card text-bg-light ms-3 mt-5 lh-base text-wrap row col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9" lang="en">
            <div id="text" class="ms-1 me-1 mt-3"><b>Chapter One. Beginning</b><br>
                <p class="mt-3">2040. On that fateful night, blinding, poisonous-sulfurous lightning flashed, pouring, bone-chilling rain fell, and the unbearable stench of someone's shit was unbearable... On the streets of a gloomy, cruel city, with huge, crushing and absorbing neo-Gothic skyscrapers, where only a few managed to succeed, raking corpses with a tractor bucket, enveloping the stench in a grave fog, there was no one at night, only monsters that had long since lost their souls. And only proud, gloomy gargoyles looked down on the streets wet from the rain.</p>
                <p>Everywhere, strange figures were visible, dressed as if for a bloody carnival, in the back alleys stood night butterflies in studded leather jackets. By the road stood two girls with hair of an unnatural color and altered DNA to match their tastes, as if they were not people, but animals. Hovercrafts flew past, and in them rode happy ladies, expensively dressed, with their rich men.</p>
                <p>Mat First was kneeling in the alley, looking at his bloody hands, realizing how his soul was drowning and choking, a fetid and rotten fate, rotting from what this city, a wonderful city of dreams, had given it.</p>
                <p>"I hate manholes, they always smell of my life," Mat thought with gnashing of teeth, looking at the manhole cover from the sewer. "Oh, and of course that scream... what an idiot. Why is he yelling like that? Sitting there, I just heard him yelling," he said to himself.</p>
                <p>- What did you do?! What did you do?!</p>
                <p>And I just answered: it wasn't me... it was the damn city.</p>
                <br>
                <p>4 months ago. Matthew is sitting with his friend Victor in a bar, which was always quite smoky due to the smoke-filled wooden panels on the walls. In the evenings, the bartender Joe poured strong brandy, and soft music was playing. It was one of the few places where you could spend an evening.</p>
                <p>Victor, my new friend, the Wonder City police commissioner. An honest guy, one of the few who has not yet lost faith in goodness, he was dressed like a typical commissioner, coat, hat, tie. An unremarkable, gray man guarding the law. We met 2 weeks ago in this same bar, he saw me and came up to me himself, apparently he saw something in me.</p>
                <p>Sitting at the bar, Matt started a conversation with his friend.</p>
                <p>- He called you, and you agreed? - asked Victor.</p>
                <p>- Yes, Victor, I agreed.</p>
                <p>- Matt, tell me what problems you have, and I'll call the guys right away, they will get you these cards.</p>
                <p>- No, everything is fine, Victor.</p>
                <p>"What do I care about these cards?" I thought to myself. I need to go to the interview, Victor is a good guy, it was not for nothing that I came here for a drink.</p>
                <p>Getting a job in a big city is an important part of my plan with my wife Vika. Life in a small town is not for us. We realized this after that night, the night when we watched movies, movies about the beautiful life of the big city, and then took a bath and dreamed.</p>
                <p>Vika, Victoria - my wife, a girl with lush, curly, red hair. Vika always wore only emerald dresses and dreamed of life in a big city. A chance for her to become a fashionable clothing designer, and me? What about me? Where Victoria goes, I go. She is my life...</p>
                <p class="end_preview"><i>--End of preview fragment--</i></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid sticky-bottom">
    <div class="row text-center text-white">
        <div class="col-4" style="background-color:#ff9999; height: 25px; border-radius: 50px 0px 0px 0px;" lang="en"><b>This is a dream</b></div>
        <div class="col-4" style="background-color:#99CCFF; height: 25px; border-radius: 0px 0px 0px 0px;" lang="en"><b>This is a lifestyle</b></div>
        <div class="col-4" style="background-color:#00CC99; height: 25px; border-radius: 0px 50px 0px 0px;" lang="en"><b>Made with love</b></div>
    </div>
</div>
{% endblock %}