#description_warriors_m{
    font-size:1.3em;
    float:left;
}
#warriors_m{
    position:relative;
    float:left;
}
#png_one{
    float:left;
}
#png_two{
    float:left;
}
#png_three{
    float:left;
}
#png_four{
    float:left;
}
#GigaTron_5000{
    float:left;
}
#description_gigatron{
    font-size:1.3em;
    float:left;
}
#games_gigatron{
    position:relative;
    float:left;
}
#games_gigatron_2{
    float:left;
}